/* font */

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #EDF2F7;
}


/* navigation bar */
.header {
    background-color: transparent;
}

.nav_links {
    list-style: none;
    position: absolute;
    left: 75%;
    display: flex;
    padding-left: 0%;
    margin: 8px 8px;
}

.nav_links li {
    margin-top: 0%;
    padding-top: 8px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    padding: 0px 20px 0px 20px;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.419);
    
}

 .nav_links li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #71CFEB;
}


/* sign up button */

.header nav ul button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background-color: transparent;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: all .5s ease;
}

.header nav ul button:hover {
    letter-spacing: 3px;
    background-color: #71CFEB;
    color: hsl(0, 0%, 100%);
    box-shadow: #71CFEB;
}

.header nav ul button:active {
    letter-spacing: 3px;
    background-color: #71CFEB;
    color: hsl(0, 0%, 100%);
    box-shadow: #71CFEB;
    transform: translateY(5px);
    transition: 100ms;
}


/*image header*/
.header .logo-head{
    position: absolute;
    width: 30%;
    left: 4%;
    top: 25%;
}

.header img {
    width: 100%;
    height: auto;
}

.headTxt {
    position: absolute;
    top: 50%;
    left: 16%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.699);
}


/*content counter*/

.content_counter {
    margin: 120px;
}

.content_counter h1 {
    font-size: 24px;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.content_counter hr {
    margin: auto;
    width: 220px;
    height: 5px;
    border-color: transparent;
    background-color: #71CFEB;
}


/* Date Counter */

#dateCounter {
    text-align: center;
    font-size: 3em;
}


/* Date Counter digit*/

#dateCounter div {
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    min-width: 90px;
}


/* Date Counter text*/

#dateCounter span {
    font-family: 'Poppins', sans-serif;
    color: #141F26;
    display: block;
    font-size: 0.3em;
    font-weight: 400;
}


/*container 1*/

.container-1 {
    width: 100%;
    display: table;
    margin-top: 150px;
}

.container-1 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 220px;
}

.container-1 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: 220px;
}

.container-1 hr {
    width: 80px;
    height: 4px;
    border-color: transparent;
    background-color: #71CFEB;
    margin-left: 220px;
}

.container-1 p {
    margin-top: 24px;
    font-family: 'position', sans-serif;
    font-weight: 150;
    font-size: 18px;
    line-height: 26px;
    margin-left: 220px;
}

.col1 {
    float: left;
    width: 50%;
}

.col2 {
    width: 50%;
    float: right;
    text-align: center;
}

.col2 img {
    width: 50%;
    height: auto;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}


/*container 2*/

.container-2 {
    background-color: #141F26;
    padding: 10px;
}

.container-2:after {
    content: "";
    display: table;
    clear: both;
}

.container-child {
    margin: auto;
    float: left;
    width: 33.33%;
}

.container-child h1 {
    font-size: 32px;
    color: #71CFEB;
    font-family: 'Passion One', sans-serif;
    font-weight: 200;
    text-align: center;
}

.container-child h3 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.topSvg {
    margin-top: 50px;
    background: #141F26;
}

.darkContainer {
    background-color: #141F26;
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.darkContainer b {
    color: #71CFEB;
    margin-top: 20px;
}

.date {
    background-color: #EDF2F7;
}

.date h3 {
    color: #141F26;
    text-align: center;
}

.schedule {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
}

.schedule td {
    text-align: left;
    padding-left: 18px;
    padding: 10px;
}

.time h3 {
    text-align: center;
}


/*page signup*/

.container-4::after {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.cont-child {
    margin: auto;
    width: 50%;
    position: relative;
    float: left;
}

.rightCont {
    flex-direction: column;
    justify-content: center;
    align-items: left;
    display: flex;
    height: 100vh;
    padding: 20% 20%;
}

.rightCont h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.rightCont p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
}

.rightCont hr {
    width: 170px;
    height: 5px;
    border-color: transparent;
    background-color: #71CFEB;
    margin-top: 8px;
    margin-bottom: 20px;
}

.rightCont form {
    display: block;
}

.rightCont label {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.rightCont input, textarea {
    display: block;
    width: 100%;
    padding: 7px 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.rightCont textarea{
    border-radius: 10px;
    height: 100px;
}

.rightCont .submit {
    margin-top: 50px;
    width: 100%;
    height: 35px;
    background-color: #71CFEB;
    border: 1px solid #71CFEB;
    margin-top: 25px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 50px;
}

.rightCont .submit:hover {
    background-color: #71cfeb28;
    border: 1px solid #71CFEB;
    color: #71CFEB;
}

.leftCont {
    flex-direction: column;
    justify-content: center;
    align-items: left;
    display: flex;
    height: 100vh;
    padding-left: 20%;
    background-color: #55bfdf;
}

.leftCont img {
    width: 55%;
    height: auto;
    margin-bottom: 20px;
}

.leftCont h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #fff;
}

.leftCont p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    opacity: 80%;
    color: #fff;
}

.button {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 30%;
    padding: 7px 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    background: rgba(255, 255, 255, 0.904);
    color: rgba(37, 158, 214);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid transparent;
    font-size: 16px;
}

.container-6{
    text-align: center;
}

.container-6 img{
    width: 20%;
    margin-top: 24px;
}

.container-6 .search th {
    background-color: #EDF2F7;
    text-align: right;
    color: #141F26;
    font-size: 18px;
    font-weight: 500;    
}

.search input{
    width: 20%;
    padding: 5px 2px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Poppins' , sans-serif;
}
.top-header-left{
    border-top-left-radius: 0.5em;
    border-collapse: collapse;
    overflow: hidden;
}

.top-header-right{
    border-top-right-radius: 0.5em;
    border-collapse: collapse;
    overflow: hidden;
}

.container-6 table{
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3em;
    border-collapse: collapse;
    overflow: hidden;
    cursor: context-menu;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-6 th{
    background-color: #71CFEB;
    color: #fff;
    font-family: 'Poppins' , sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
}

.container-6 td{
    background-color: #fff;
    color: #000; 
    font-family: 'Poppins' , sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    border-top: 0.5px solid rgb(145, 143, 143);
    border-bottom: 0.5px solid rgb(145, 143, 143);
    text-align: left;
}

.container-6 .bot-table{
    text-align: center;
    font-size: 14px;
    border-bottom: unset;
}

.link-top a{
    text-decoration: none;
    color: #EDF2F7;
}

