/* font */

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


/* navigation bar */

.nav_links {
    list-style: none;
    position: relative;
    float: right;
    display: flex;
    padding-left: 0%;
    padding-right: 10%;
    margin: 8px 8px;
}

.nav_links li {
    margin-top: 0%;
    padding-top: 8px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    padding: 0px 20px 0px 20px;
}

.nav_links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--Lefttext-color);
    text-decoration: none;
}

.nav_links li a:hover {
    color: #E7471B;
}


/* sign up button */

.header nav ul button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: all .5s ease;
}

.header nav ul button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.header nav ul button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 100ms;
}


/*image header*/

.header img {
    width: 100%;
    height: auto;
    -o-filter: blur(5px);
}

.headTxt {
    position: absolute;
    top: 50%;
    left: 19%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 450;
    font-family: 'Poppins', sans-serif;
}


/*content counter*/

.content_counter {
    margin: 32px
}

.content_counter h1 {
    font-size: 24px;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.content_counter hr {
    margin: auto;
    width: 220px;
    border-bottom: 5px solid #E7471B;
}


/* Date Counter */

#dateCounter {
    text-align: center;
    font-size: 3em;
}


/* Date Counter digit*/

#dateCounter div {
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    min-width: 90px;
}


/* Date Counter text*/

#dateCounter span {
    font-family: 'Poppins', sans-serif;
    color: #B1CDF1;
    display: block;
    font-size: 0.3em;
    font-weight: 400;
}


/*container 1*/

.container-1 {
    width: 100%;
    display: table;
    margin-top: 100px;
}

.container-1 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 220px;
}

.container-1 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: 220px;
}

.container-1 hr {
    width: 80px;
    border-bottom: 3px solid #E7471B;
    margin-left: 220px;
}

.container-1 p {
    margin-top: 24px;
    font-family: 'position', sans-serif;
    font-weight: 150;
    font-size: 18px;
    line-height: 26px;
    margin-left: 220px;
}

.col1 {
    float: left;
    width: 50%;
}

.col2 {
    width: 50%;
    float: right;
    text-align: center;
}

.col2 img {
    width: 50%;
    height: auto;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}


/*container 2*/

.container-2 {
    background-color: #2FD291;
    margin-top: 80px;
    margin-bottom: 80px;
}

.container-2:after {
    content: "";
    display: table;
    clear: both;
}

.container-child {
    margin: auto;
    padding-top: 18px;
    padding: 5%;
    padding-bottom: 18px;
    float: left;
    width: 33.33%;
}

.container-child h1 {
    font-size: 28px;
    font-family: 'Prompt', sans-serif;
    align-items: center;
}

.container-child h3 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.middle {
    background-color: #4be3a6;
}