/* font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


/* navigation bar */

.nav_links {
    list-style: none;
    position: relative;
    float: right;
    display: flex;
    padding-left: 0%;
    padding-right: 10%;
    margin: 8px 8px;
}

.nav_links li {
    margin-top: 0%;
    padding-top: 8px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    padding: 0px 20px 0px 20px;
}

.nav_links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--Lefttext-color);
    text-decoration: none;
}

.nav_links li a:hover {
    color: #E7471B;
}


/* sign up button */

.header nav ul button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: all .5s ease;
}

.header nav ul button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.header nav ul button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 100ms;
}


/*image header*/

.header img {
    width: 100%;
    height: auto;
}

.headTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}